name: CI workflow

on:
  push:
  pull_request:

env:
  REGISTRY: ghcr.io
  IMG_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    if: github.ref_name == 'main' || (github.event_name == 'pull_request' && github.base_ref == 'main') || contains(github.event.head_commit.message, '[build-image]')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Get version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Set up docker buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to the container registry
      if: ${{ github.event_name != 'pull_request' }}
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ${{ env.REGISTRY }}/${{ env.IMG_NAME }}:${{ steps.vars.outputs.sha_short }}
          ${{ env.REGISTRY }}/${{ env.IMG_NAME }}:latest
        cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMG_NAME }}:buildcache
        cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMG_NAME }}:buildcache,mode=max